.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	overflow: hidden;
	background-color: Black;
}

.navbar-item {
	float: left;
}

.navbar-item a {
	display: block;
	color: LightGrey;
	text-align: center;
	padding: 14px 18px;
	text-decoration: none;
	background-color: Black;
}

.navbar-item a:hover {
	color: #e6e6e6;
}

.navbar-item-selected a:hover {
	color: White;
}

.navbar-item-main a {
	font-size: 110%;
	color: White;
}

.navbar-item-selected a {
	color: White;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 740px) {
  ul.navbar li.right, 
  ul.navbar li {float: none;}
}